name: Java Backend CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar Código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven


      - name: Dar permissão de execução ao Maven Wrapper
        run: chmod +x mvnw

      - name: Rodar Testes com Maven
        run: ./mvnw test -DargLine="-XX:+EnableDynamicAgentLoading -Xshare:off"